/* Asterisk wildcard selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}
body {
    background-color: #f5f2f4;
}
/* Add style to heading and logo*/
.heading {
    text-align: center;
    font-size: 3rem;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-top: 30px;
}
.logo {
    height: 40px;
    padding-right: 5px;
}
/* Add style to subheading */
.sub-heading {
    text-align: center;
    font-size: 1.5rem;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-bottom: 30px;
}
.log-in {
    width: 100%;
    position: relative;
    text-align: center;
}
#image-station {
    width: 100%;
}
#gameForm {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 20px; 
    max-width: 300px;
    margin: 0 auto; 
}
#gameForm label {
    font-weight: bold; 
    font-size: 1.8em;
}

#gameForm input {
    font-weight: bold; /* Texto en negrita */
    font-size: 1.2em; /* Tamaño de fuente más grande */
    border: 2px solid #000; /* Borde más marcado */
}

/* style to game*/
.score-box {
    display: block;
    margin: 10px auto;
    border: 2px solid #000;
    padding: 10px;
    text-align: center;
}
.quiz {
    flex-direction: column;
    text-align: center;
   
}

.answer-option {
    border: 2px solid #ccc;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}



