/* Asterisk wildcard selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}
body {
    background-color: #f5f2f4;
}
/* Add style to heading and logo*/
.heading {
    text-align: center;
    font-size: 3rem;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-top: 30px;
}
.logo {
    height: 40px;
    padding-right: 5px;
}
/* Add style to subheading */
.sub-heading {
    text-align: center;
    font-size: 1.5rem;
    display: flex; /* Utiliza flexbox */
    align-items: center; /* Alinea verticalmente */
    justify-content: center; /* Alinea horizontalmente */
    margin-bottom: 30px;
}
.log-in {
    width: 100%;
    position: relative; /* Añade una posición relativa para posicionar el formulario */
    text-align: center;
}
#image-station {
    width: 100%;
}
#gameForm {
    position: absolute; /* Añade una posición absoluta para el formulario */
    top: 50%; /* Coloca el formulario en la mitad superior del contenedor */
    left: 50%; /* Coloca el formulario en el centro horizontal del contenedor */
    transform: translate(-50%, -50%); /* Centra el formulario completamente */
    background-color: rgba(255, 255, 255, 0.2); /* Fondo semi-transparente blanco */
    padding: 20px; /* Espacio alrededor del formulario */
    max-width: 300px; /* Limita el ancho del formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
}
#gameForm label {
    font-weight: bold; /* Texto en negrita */
    font-size: 1.8em; /* Tamaño de fuente más grande */
}

#gameForm input {
    font-weight: bold; /* Texto en negrita */
    font-size: 1.2em; /* Tamaño de fuente más grande */
    border: 2px solid #000; /* Borde más marcado */
}

