/* Asterisk wildcard selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
}

header>a {
        text-decoration: none;
        color: #000;
        font-weight: bolder;

}
/* add some space to make breath the texts */
body {
    line-height: 1.5;
    background-color: #f5f2f4;
}


/* Add style to heading and logo*/
.heading {
    text-align: center;
    font-size: 2.5rem;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-top: 10px;
}
.logo {
    height: 40px;
    padding-right: 5px;
}
/* Add style to subheading */
.sub-heading {
    text-align: center;
    font-size: 1.5rem;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-bottom: 10px;
}
.log-in {
    width: 100%;
    position: relative;
    text-align: center;
}
#image-station {
    max-width: 100%;
    height: auto;



}
#gameForm {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 20px; 
    max-width: 300px;
    margin: 0 auto; 
}
.play {
    font-weight: bold;
    font-size: medium;
}
#gameForm label {
    font-weight: bold; 
    font-size: 1.8em;
}

#gameForm input {
    font-weight: bold; 
    font-size: 1.2em; 
    border: 2px solid #000; 
}
footer {
    text-align: center;
}

/* style to game */


.score-box {
    display: block;
    margin: 10px auto;
    border: 4px solid #000;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    
}
.quiz {
    flex-direction: column;
    text-align: center;
    margin-top: 7px;
    display: none;
   
}
.quiz.show {
    display: block;
}
.answer-option:hover {
    background-color:#469bba;
}

.answer-option {
    border: 2px solid #ccc;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
.check-button {
    font-weight: bold;
}
.check-button:hover {
    font-size: medium;
    background-color: #f44336;
}
.result-box {
    display: block;
    margin: 10px auto;
    border: 4px solid #000;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.final-result {

}
/* style the restart link */
#restart {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
    border: 3px solid #000;
    background-color: #4caf50;
    padding-left : 2px;
    padding-right: 2px;
}

/* change options color if selected, correct, incorrect */
.answer-option.selected {
    background-color:#469bba;
}

.answer-option.correct {
    background-color: #4caf50;
}

.answer-option.incorrect {
    background-color: #f44336;
}


@media only screen and (max-width: 600px) {
    .heading {
        font-size: 1.5rem; /* change font size */
}
    #image-station {
    max-width: 90%;
}
    #gameForm {
        max-width: 50%;
        max-height: 50%;
        padding: 10px;
        font-size: 1rem;
    }


    /* style game page for smaller devices */
    .quiz-img {
        width: 75%;
        height: 75%;
    }

    .answer-option {
        font-size: 0.9rem;
        margin: 5px;
    }

    .check-button {
        font-size: 1rem;
        padding: 8px 16px;
    }

    .result-box {
        font-size: 1rem;
        padding: 10px;
    }

    .final-result {
        margin-top: 10px;
    }




}